
<div class="wrapper">
    <div class="sub-nav">
        <div class="sub-nav-logo">
            <span>Logo</spa>
        </div>
        <ul class="sub-nav-list">
            <a href="#">
                <li class="sub-nav-item">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="16" height="16">
                        <path class="icon-message icon-vector" d="M24,16v5a3,3,0,0,1-3,3H16a8,8,0,0,1-6.92-4,10.968,10.968,0,0,0,2.242-.248A5.988,5.988,0,0,0,16,22h5a1,1,0,0,0,1-1V16a5.988,5.988,0,0,0-2.252-4.678A10.968,10.968,0,0,0,20,9.08,8,8,0,0,1,24,16ZM17.977,9.651A9,9,0,0,0,8.349.023,9.418,9.418,0,0,0,0,9.294v5.04C0,16.866,1.507,18,3,18H8.7A9.419,9.419,0,0,0,17.977,9.651Zm-4.027-5.6a7.018,7.018,0,0,1,2.032,5.46A7.364,7.364,0,0,1,8.7,16H3c-.928,0-1-1.275-1-1.666V9.294A7.362,7.362,0,0,1,8.49,2.018Q8.739,2,8.988,2A7.012,7.012,0,0,1,13.95,4.051Z"/>
                    </svg>
                    <span>Chat</span>
                    <div class="notify-chat ds-flex-center">5</div>
                </li>
            </a>
            <a href="./login">
                <li class="sub-nav-item">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16" height="16">
                        <g>
                            <path class="icon-out-first icon-vector"  d="M487.06,195.669l-82.752-82.752c-8.475-8.185-21.98-7.95-30.165,0.525c-7.985,8.267-7.985,21.374,0,29.641l82.752,82.752   c2.459,2.507,4.607,5.301,6.4,8.32c-0.32,0-0.576-0.171-0.896-0.171l0,0l-334.592,0.683c-11.782,0-21.333,9.551-21.333,21.333   c0,11.782,9.551,21.333,21.333,21.333l0,0l334.464-0.683c0.597,0,1.088-0.299,1.664-0.341c-1.892,3.609-4.292,6.928-7.125,9.856   l-82.752,82.752c-8.475,8.185-8.71,21.69-0.525,30.165c8.185,8.475,21.69,8.71,30.165,0.525c0.178-0.172,0.353-0.347,0.525-0.525   l82.752-82.752c33.313-33.323,33.313-87.339,0-120.661L487.06,195.669z"/>
                            <path class="icon-out-last icon-vector" d="M149.374,469.333h-42.667c-35.346,0-64-28.654-64-64V106.667c0-35.346,28.654-64,64-64h42.667   c11.782,0,21.333-9.551,21.333-21.333S161.157,0,149.374,0h-42.667C47.827,0.071,0.112,47.786,0.041,106.667v298.667   C0.112,464.214,47.827,511.93,106.708,512h42.667c11.782,0,21.333-9.551,21.333-21.333   C170.708,478.885,161.157,469.333,149.374,469.333z"/>
                        </g>
                    </svg>
                    <span>Logout</span>
                </li>
            </a>
        </ul>
    </div>
    <div class="content">
        <div class="content-header">
            <div class="content-heading">
                <span>Chat</span>
            </div>
            <div class="content-infor ds-flex-center">
                <div class="content-infor__add ds-flex-center">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="16" height="16">
                        <path d="M23,11H13V1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1V11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H11V23a1,1,0,0,0,1,1h0a1,1,0,0,0,1-1V13H23a1,1,0,0,0,1-1h0A1,1,0,0,0,23,11Z"/>
                    </svg>
                    <span>Add</span>
                </div>
                <div class="content-infor__notify ds-flex-center">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                        <g id="_01_align_center" data-name="01 align center">
                            <path d="M23.259,16.2l-2.6-9.371A9.321,9.321,0,0,0,2.576,7.3L.565,16.35A3,3,0,0,0,3.493,20H7.1a5,5,0,0,0,9.8,0h3.47a3,3,0,0,0,2.89-3.8ZM12,22a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,12,22Zm9.165-4.395a.993.993,0,0,1-.8.395H3.493a1,1,0,0,1-.976-1.217l2.011-9.05a7.321,7.321,0,0,1,14.2-.372l2.6,9.371A.993.993,0,0,1,21.165,17.605Z"/>
                        </g>
                    </svg>
                    <div class="notify-active"></div>
                </div>
                <div class="content-infor__user ds-flex-center">
                    <img src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                    <span>{{users.fullname}}</span>
                </div>
            </div>
        </div>
        <div class="content-main">
            <div class="content-main__list">
                <div class="content-main__heading content-hg-80">
                    <div class="heading-inbox">
                        <span id ="inbox">Inbox</span>
                        <span>2 New</span>
                    </div>
                    <div class="search">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="16" height="16">
                            <path d="M23.707,22.293l-5.969-5.969a10.016,10.016,0,1,0-1.414,1.414l5.969,5.969a1,1,0,0,0,1.414-1.414ZM10,18a8,8,0,1,1,8-8A8.009,8.009,0,0,1,10,18Z"/>
                        </svg>
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
                <div id = "list-friend" class="list-friend">
                    {{#each friend}}
                        <a  class="border-bt" name ="{{{this.fullname}}}" id ="{{{this.friendId}}}" onclick="checkUserClicked(this);">
                            <div id ="friend" class="friend">
                                <div class="new-message"></div>
                                <div class="friend-infor">
                                    <img class="img-list" src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                                    <div class="name-friend">
                                        <div class="name-friend__infor">
                                            <span class="friend__fullname">{{this.fullname}}</span>
                                            <span data-id ="{{{this.friendId}}}" id = "friend__id-{{this.friendId}}" value = "{{this.friendId}}" class="friend__id">{{this.friendId}}</span>
                                        </div>
                                        <div class="name-friend__minute">
                                            <span {{#if this.rawDate}} class = "{{this.rawDate}}" {{/if}} {{#if this.rawDate}} id ="lasttimeReceiver-{{this.friendId}}" {{/if}} >{{#if this.time}} {{this.time}} {{/if}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-message">
                                    <span style="font-weight:{{#if this.bold}} {{this.bold}} {{/if}};color:{{#if this.color}} {{this.color}} {{/if}}" name = "{{this.friendId}}" id="content-messag_detail-{{{this.friendId}}}" class="content-messag_detail">{{truncate this.text}}</span>
                                </div>
                            </div>
                        </a>
                    {{/each}}
                </div>
            </div>
            <div class="content-main__message" style="position: relative;">
                <div class="content-main__message-name">
                    <div class="friend-infor content-hg-80">
                        <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                        <div class="name-friend">
                            <div class="name-friend__infor">
                                <span id = "friendName" class="friend__fullname"></span>
                                <span id = "friendId" class="friend__id"></span>
                            </div>
                            <div class="name-friend__menu">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg class="menu-circle" xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="16" height="16">
                                    <circle cx="12" cy="2.5" r="2.5"/>
                                    <circle cx="12" cy="12" r="2.5"/>
                                    <circle cx="12" cy="21.5" r="2.5"/>
                                </svg>
                                <div class="menu-detail">
                                    <div class="menu-detail__lock">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20" height="20">
                                            <path d="M19,8.424V7A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5,5,0,0,0,19,8.424ZM7,7A5,5,0,0,1,17,7V8H7ZM20,19a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z"/>
                                            <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z"/>
                                        </svg>
                                        <span>Block users</span>
                                    </div>
                                    <div class="menu-detail__delete">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20" height="20">
                                            <path d="M21,4H17.9A5.009,5.009,0,0,0,13,0H11A5.009,5.009,0,0,0,6.1,4H3A1,1,0,0,0,3,6H4V19a5.006,5.006,0,0,0,5,5h6a5.006,5.006,0,0,0,5-5V6h1a1,1,0,0,0,0-2ZM11,2h2a3.006,3.006,0,0,1,2.829,2H8.171A3.006,3.006,0,0,1,11,2Zm7,17a3,3,0,0,1-3,3H9a3,3,0,0,1-3-3V6H18Z"/>
                                            <path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18Z"/>
                                            <path d="M14,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z"/>
                                        </svg>
                                        <span>Delete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-message__friend">
                    <div id = "sendmessage"class="send-message pd-20"></div>
                    <div class="input-message pd-20">
                        <form id = "submitform" action="/" method="POST">
                            <div class="input-message-send">
                                <input type="text" id="mytext" name="mytext" value="{{mytext}}" placeholder="Write a message">
                                <button class="icon-send-message" id = "sendtext">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="16" height="16">
                                        <path d="M23.119.882a2.966,2.966,0,0,0-2.8-.8l-16,3.37a4.995,4.995,0,0,0-2.853,8.481L3.184,13.65a1,1,0,0,1,.293.708v3.168a2.965,2.965,0,0,0,.3,1.285l-.008.007.026.026A3,3,0,0,0,5.157,20.2l.026.026.007-.008a2.965,2.965,0,0,0,1.285.3H9.643a1,1,0,0,1,.707.292l1.717,1.717A4.963,4.963,0,0,0,15.587,24a5.049,5.049,0,0,0,1.605-.264,4.933,4.933,0,0,0,3.344-3.986L23.911,3.715A2.975,2.975,0,0,0,23.119.882ZM4.6,12.238,2.881,10.521a2.94,2.94,0,0,1-.722-3.074,2.978,2.978,0,0,1,2.5-2.026L20.5,2.086,5.475,17.113V14.358A2.978,2.978,0,0,0,4.6,12.238Zm13.971,7.17a3,3,0,0,1-5.089,1.712L11.762,19.4a2.978,2.978,0,0,0-2.119-.878H6.888L21.915,3.5Z"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="content-main__infordetail">
                <div class="infordetail">
                    <img class="img-infordetail"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                    <div class="infordetail-name">{{users.fullname}}</div>
                    <div id = "infordetail-id-{{users.id}}" class="infordetail-id">{{users.id}}</div>
                </div>
                <div class="content-main__group">
                    <div class="content-main__group-header">
                        <h3>Group</h3>
                        <div class="create-group">
                            <svg id="Layer_1" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                <path d="m7.5 13a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm0-7a2.5 2.5 0 1 0 2.5 2.5 2.5 2.5 0 0 0 -2.5-2.5zm7.5 17v-.5a7.5 7.5 0 0 0 -15 0v.5a1 1 0 0 0 2 0v-.5a5.5 5.5 0 0 1 11 0v.5a1 1 0 0 0 2 0zm9-5a7 7 0 0 0 -11.667-5.217 1 1 0 1 0 1.334 1.49 5 5 0 0 1 8.333 3.727 1 1 0 0 0 2 0zm-6.5-9a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm0-7a2.5 2.5 0 1 0 2.5 2.5 2.5 2.5 0 0 0 -2.5-2.5z"/>
                            </svg>
                            <span>Create group</span>
                        </div>
                    </div>
                </div>
                <div class="content-main__group-items">
                    <a href="">
                        <div class="list-group">
                            <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                            <div class="content-group-infor">
                                <div class="content-group-infor__name">
                                    <span>Dargon</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing is simply dummy</p>
                                </div>
                                <span class="content-group-infor__minute">10m</span>
                            </div>
                            <div class="active-notify"></div>
                        </div>
                    </a>
                    <a href="">
                        <div class="list-group">
                            <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                            <div class="content-group-infor">
                                <div class="content-group-infor__name">
                                    <span>Dargon</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </div>
                                <span class="content-group-infor__minute">10m</span>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="list-group">
                            <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                            <div class="content-group-infor">
                                <div class="content-group-infor__name">
                                    <span>Dargon</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing is simply dummy</p>
                                </div>
                                <span class="content-group-infor__minute">10m</span>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="list-group">
                            <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                            <div class="content-group-infor">
                                <div class="content-group-infor__name">
                                    <span>Dargon</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </div>
                                <span class="content-group-infor__minute">10m</span>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="list-group">
                            <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                            <div class="content-group-infor">
                                <div class="content-group-infor__name">
                                    <span>Dargon</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </div>
                                <span class="content-group-infor__minute">10m</span>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="list-group">
                            <img class="img-heading"  src="https://i.pinimg.com/originals/ce/12/25/ce1225f92e766b3a87113dc69560e88f.jpg" alt="">
                            <div class="content-group-infor">
                                <div class="content-group-infor__name">
                                    <span>Dargon</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                                </div>
                                <span class="content-group-infor__minute">10m</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal modal-friend">
    <div class="overlap"></div>
    <div class="modal-add-friend">
        <form method="" action="">
            <div class="modal-add-friend__close js-close-add">
                <i class="fi fi-rr-cross"></i>
            </div>
            <h3 class="modal-add-friend__title">Add friend</h3>
            <label for="">Enter ID</label>
            <div class="modal-add-friend__input">
                <input type="text" placeholder="Enter ID (#1100)">
            </div>
            <div class="btn-close-send">
                <div class="btn">
                    <button type="button" class="btn-close btn-close-modal-friend">Close</button>
                </div>
                <div class="btn">
                    <button type="submit" class="btn-send">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-group">
    <div class="overlap"></div>
    <div class="modal-add-friend">
        <form method="" action="">
            <div class="modal-add-friend__close js-close-group">
                <i class="fi fi-rr-cross"></i>
            </div>
            <h3 class="modal-add-friend__title">Create group</h3>
            <label for="">Enter group name</label>
            <div class="modal-add-friend__input">
                <input type="text" placeholder="Enter group name">
            </div>
            <label for="">Add you to the group</label>
            <div class="modal-add-friend__input">
                <input type="text" placeholder="Enter the name you want to add">
            </div>
            <div class="btn-close-send">
                <div class="btn">
                    <button type="button" class="btn-close btn-close-modal-group">Close</button>
                </div>
                <div class="btn">
                    <button type="submit" class="btn-send">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>